<%= form_for(network_site) do |f| %>
  <% if network_site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(network_site.errors.count, "error") %> prohibited this network_site from being saved:</h2>

      <ul>
      <% network_site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :network_id %>
    <%= f.number_field :network_id %>
  </div>

  <div class="field">
    <%= f.label :site_id %>
    <%= f.number_field :site_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
