<p id="notice"><%= notice %></p>

<p>
  <strong>Badge:</strong>
  <%= @badge_project.badge_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @badge_project.project_id %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @badge_project.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @badge_project.updated_at %>
</p>

<%= link_to 'Edit', edit_badge_project_path(@badge_project) %> |
<%= link_to 'Back', badge_projects_path %>
