<p id="notice"><%= notice %></p>

<h1>Site Users</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Site</th>
      <th>Code</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @site_users.each do |site_user| %>
      <tr>
        <td><%= site_user.user_id %></td>
        <td><%= site_user.site_id %></td>
        <td><%= site_user.code %></td>
        <td><%= site_user.created_at %></td>
        <td><%= site_user.updated_at %></td>
        <td><%= link_to 'Show', site_user %></td>
        <td><%= link_to 'Edit', edit_site_user_path(site_user) %></td>
        <td><%= link_to 'Destroy', site_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Site User', new_site_user_path %>
