<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Token</th>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Password</th>
      <th>Credly</th>
      <th>Last login</th>
      <th>Remember token</th>
      <th>Tos</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Verified at</th>
      <th>Verified by</th>
      <th>Default group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.token %></td>
        <td><%= user.name %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.password %></td>
        <td><%= user.credly %></td>
        <td><%= user.last_login %></td>
        <td><%= user.remember_token %></td>
        <td><%= user.tos %></td>
        <td><%= user.created_at %></td>
        <td><%= user.updated_at %></td>
        <td><%= user.verified_at %></td>
        <td><%= user.verified_by %></td>
        <td><%= user.default_group %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
