<p id="notice"><%= notice %></p>

<h1>Badge Users</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Badge</th>
      <th>User</th>
      <th>Issuer</th>
      <th>Awarded</th>
      <th>Evidence</th>
      <th>Requirements</th>
      <th>Eligibility dt</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @badge_users.each do |badge_user| %>
      <tr>
        <td>
          <% if false %>
            <%= badge_user.code %>
          <% end %>
        </td>
        <td><%= badge_user.badge_id %></td>
        <td><%= badge_user.user_id %></td>
        <td><%= badge_user.issuer_id %></td>
        <td><%= badge_user.awarded %></td>
        <td><%= badge_user.evidence_id %></td>
        <td><%= badge_user.requirements %></td>
        <td><%= badge_user.eligibility_dt %></td>
        <td><%= badge_user.created_at %></td>
        <td><%= badge_user.updated_at %></td>
        <td><%= link_to 'Show', badge_user %></td>
        <td><%= link_to 'Edit', edit_badge_user_path(badge_user) %></td>
        <td><%= link_to 'Destroy', badge_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Badge User', new_badge_user_path %>
