<h1>Reports</h1>

<% if @error %>
  <%= @error %>
<% else %>

  <h2>Data scoped by: --</h2>

  <% if @filter  == 'site' %>
    <h3>Filtered by Site: <%= @filtered.name %></h3>
  <% elsif @filter  == 'network' %>
    <h3>Filtered by Network: <%= @filtered.name %></h3>
  <% else %>
    <h3>Filter not network or site.</h3>
  <% end %>

  <% if @dataType == 1 %>
    <h4><%= @dataType %> -- 1</h4>
  <% elsif @dataType == 2 %>
    <h4><%= @dataType %> -- 2</h4>
  <% elsif @dataType == 3 %>
    <h4><%= @dataType %> -- 3</h4>
  <% elsif @dataType == 4 %>
    <h4><%= @dataType %> -- 4</h4>
  <% elsif @dataType == 5 %>
    <h4><%= @dataType %> -- 5</h4>
  <% elsif @dataType == 6 %>
    <h4><%= @dataType %> -- 6</h4>
  <% elsif @dataType == 7 %>
    <h4><%= @dataType %> -- 7</h4>
  <% elsif @dataType == 8 %>
    <h4><%= @dataType %> -- 8</h4>
  <% elsif @dataType == 9 %>
    <h4><%= @dataType %> -- 9</h4>
  <% elsif @dataType == 10 %>
    <h4><%= @dataType %> -- 9</h4>
  <% elsif @dataType == 11 %>
    <h4><%= @dataType %> -- 9</h4>
  <% else %>
    <h4><%= @dataType %> -- ??</h4>
  <% end %>

  <h3>Evidence Data Options:</h3>

  <p>Put the following at the end of the url to make this work: &amp;datatype=[one of the numbers below]</p>
  <ol id="evidence-options-list">
    <li id="option-evidence-submissions" submission-type="evidence-submissions">Evidence Submissions (Submission by anyone)</li><br>
    <li id="option-educator-evidence-submissions" submission-type="educator-evidence-submissions">Educator Evidence Submissions (Submission by an Educator)</li><br>
    <li id="option-educator-only-evidence-submissions" submission-type="educator-only-evidence-submissions">Educator Only Evidence Submissions (Submission by an Educator, no Student collaborators)</li><br>
    <li id="option-student-evidence-submissions" submission-type="student-evidence-submissions">Student Evidence Submissions (Submission by a student)</li><br>
    <li id="option-student-associated-evidence-submissions" submission-type="student-associated-evidence-submissions">Student Associated Evidence Submissions (Submission (by a student) or (by an educator with at least one student collaborator))</li><br>
    <li id="option-saved-evidence" submission-type="saved-evidence">Saved Evidence (Any saved evidence)</li><br>
    <li id="option-total-learning-units" submission-type="total-learning-units">Total Learning Units (Total Evidence submissions + total collaborators)</li><br>
    <li id="option-student-learning-units" submission-type="student-learning-units">Student Learning Units (Total Student Evidence submissions + total Student collaborators)</li><br>
    <li id="option-educator-learning-units" submission-type="educator-learning-units">Educator Learning Units (Total Educator Submissions + total Educator collaborators)</li><br>
    <li id="option-educator-learning-units" submission-type="educator-learning-units">Educator Learning Units (Total Educator Submissions + total Educator collaborators)</li><br>
    <li id="option-educator-learning-units" submission-type="educator-learning-units">Educator Learning Units (Total Educator Submissions + total Educator collaborators)</li><br>
    <li id="option-student-saved-evidence" submission-type="student-saved-evidence">Student Saved Evidence</li><br>
    <li id="option-educator-saved-evidence" submission-type="educator-saved-evidence">Educator Saved Evidence</li><br>
  </ul>

  <h2 id="submission-type-display"></h2>
  <table>
    <tr>
      <th>Site Name</th>
      <th>Site ID</th>
      <% for project in @project_titles %>
        <th colspan="1">
          <%= project[1][0] %>
        </th>
      <% end %>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <% for project in @project_titles %>
        <th colspan="1">
          <%= project[1][1] %>
        </th>
      <% end %>
    </tr>
    <% @data.each_with_index do |(id, projects), index| %>
      <tr>
        <td><%= @scope_names[id] %></td>
        <td><strong><%= id %></strong></td>
        <% projects.each do |project| %>

          <% if @dataType == 1 %>
            <td class="evidence-data evidence-submissions" title="Evidence Submissions"><%= project[1]["Evidence Submissions"] %></td>
          <% elsif @dataType == 2 %>
            <td class="evidence-data educator-evidence-submissions" title="Educator Evidence Submissions"><%= project[1]["Educator Evidence Submissions"] %></td>
          <% elsif @dataType == 3 %>
            <td class="evidence-data educator-only-evidence-submissions" title="Educator Only Evidence Submissions"><%= project[1]["Educator Only Evidence Submissions"] %></td>
          <% elsif @dataType == 4 %>
            <td class="evidence-data student-evidence-submissions" title="Student Evidence Submissions"><%= project[1]["Student Evidence Submissions"] %></td>
          <% elsif @dataType == 5 %>
            <td class="evidence-data  student-associated-evidence-submissions" title="Student Associated Evidence Submissions"><%= project[1]["Student Associated Evidence Submissions"] %></td>
          <% elsif @dataType == 6 %>
            <td class="evidence-data saved-evidence" title="Saved Evidence"><%= project[1]["Saved Evidence"] %></td>
          <% elsif @dataType == 7 %>
            <td class="evidence-data total-learning-units" title="Total Learning Units"><%= project[1]["Total Learning Units"] %></td>
          <% elsif @dataType == 8 %>
            <td class="evidence-data student-learning-units" title="Student Learning Units"><%= project[1]["Student Learning Units"] %></td>
          <% elsif @dataType == 9 %>
            <td class="evidence-data educator-learning-units" title="Educator Learning Units"><%= project[1]["Educator Learning Units"] %></td>
          <% elsif @dataType == 10 %>
            <td class="evidence-data student-saved-evidence" title="Student Saved Evidence"><%= project[1]["Student Saved Evidence"] %></td>
          <% elsif @dataType == 11 %>
            <td class="evidence-data educator-saved-evidence" title="Educator Saved Evidence"><%= project[1]["Educator Saved Evidence"] %></td>
          <% else %>
            <td class="evidence-data" title="Placeholder">No Datatype</td>
          <% end %>
        <% end %>
      </tr>
    <% end %>

  </table>

<% end %>
