<h1>Reports</h1>

<% if @error %>
  <%= @error %>
<% else %>

  <h2>Data scoped by: --</h2>

  <% if @filter  == 'site' %>
    <h3>Filtered by Site: <%= @filtered.name %></h3>
  <% elsif @filter  == 'network' %>
    <h3>Filtered by Network: <%= @filtered.name %></h3>
  <% else %>
    <h3>Filter not network or site.</h3>
  <% end %>

  <table>
    <tr>
      <th>Site Name</th>
      <th>Site ID</th>
      <% for project in @project_titles %>
        <th colspan="1">
          <%= project[1] %>
        </th>
      <% end %>
    </tr>
    <% @data.each_with_index do |(id, projects), index| %>
      <tr>
        <td><%= @site_names[id] %></td>
        <td><strong><%= id %></strong></td>
        <% projects.each do |project| %>
          <td class="hide"><%= project[1]['saved'] %></td>
          <td class="hide"><strong><%= project[1]['submitted'] %></strong></td>
          <td><%= project[1]['collaborations'] %></td>
        <% end %>
      </tr>
    <% end %>

  </table>

<% end %>
